body {
    height: 100%;
    width: 100%;
    background: #F6F6F6;
}
.title {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    color: #C9C9C9;
}
.section {
    background: #FFF;
    box-sizing: border-box;
    padding-left: 20px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.section input {
    display: block;
    height: 44px;
    line-height: 44px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #E9E9E9;
}
.section input:last-child {
    border-bottom: none;
}
.btn {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}
.confirm {
    color: #FFF;
    background: #000033;
    margin-top: 76px;
}
.back {
    color: #000;
    margin-top: 16px;
    border: 1px solid #BEBEBE;
    background: #FFF;
}