.header .img-top {
    display: block;
    width: 100%;
}
.header .nav {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
}
.header .nav li {
    float: left;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    position: relative;
    height: 40px;
}
.header .nav li.active:after {
    position: relative;
    display: block;
    background: #333238;
    width: 100%;
    height: 3px;
    bottom: 3px;
    content: '';
}
.header .swiper-container {
    padding: 12px 25px;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    height: 130px;
}
.header .swiper-container .swiper-slide {
    display: inline-block;
    height: 130px;
    width: 100px;
}
.header .swiper-container .img {
    width: 96px;
    line-height: 74px;
}
.header .swiper-container .swiper-slide label,
.header .swiper-container .swiper-slide span {
    font-size: 14px;
    float: left;
    color: #010101;
    height: 20px;
    line-height: 20px;
}
.article {
    clear: both;
}
.article .line {
    height: 10px;
    background: #F6F6F6;
}
.article .title {
    margin-top: 16px;
    text-align: center;
    color: #000;
    font-size: 26px;
}
.article .title:before,
.article .title:after {
    display: inline-block;
    width: 9px;
    height: 4px;
    background: #000;
    vertical-align: middle;
    content: '';
}
.article .content {
    margin: 10px 25px 15px 25px;
    line-height: 22px;
    font-size: 16px;
    color: #8F8F8F;
}
.article .img {
    margin-left: 25px;
    margin-right: 25px;
}
.article .img img {
    width: 100%;
    display: block;
}
.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: rgba(0,0,0,0.42);
}
.mask .desc {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 3px;
    background: #FFF;
}
.mask .desc .title {
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-weight: normal;
    color: #8F8F8F;
    font-size: 22px;
    border-bottom: 1px solid #D8D8D8;
}
.mask .desc .title i {
    position: absolute;
    background: url("../../images/jieyuanjiachi/exit.png") no-repeat;
    background-size: contain;
    width: 11px;
    height: 11px;
    right: 16px;
    margin-top: 15px;
}
.mask .desc .content {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #D8D8D8;
    box-sizing: border-box;
}
.mask .desc .content h3 {
    height: 44px;
    line-height: 44px;
    font-weight: normal;
    font-size: 20px;
}
.mask .desc .content p{
    line-height: 20px;
    color: #8F8F8F;
    height: 156px;
    overflow-y: auto;
}
.mask .desc .btn {
    display: block;
    margin-left: 38px;
    margin-right: 38px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background: #1A1A1A;
    border-radius: 3px;
    font-size: 22px;
    margin-top: 9px;
}